<header>

<h1>{{metadata.author.name}}</h1>
<em id='role'>{{metadata.author.role}}</em>

<address>
<a href="https://abogic.al">{{"Business/links-fill" | icon | safe}}abogic.al</a>
<a href='mailto:{{metadata.author.email}}'>
	{{'Business/mail-fill' | icon | safe}}{{metadata.author.email}}
</a>
{% if metadata.author.phone %}
<a href="tel:{{metadata.author.phone}}">
    {{"Device/phone-fill" | icon | safe}}{{metadata.author.phone}}
</a>
{%endif%}

{{'Map/map-pin-fill' | icon | safe}}{{metadata.author.location | safe}}

<a target="_blank" href='https://github.com/Abogical'>
	{{'Logos/github-fill' | icon | safe}}github.com/Abogical
</a>
<a target="_blank" href='https://gitlab.com/Abogical'>
	{{'Logos/gitlab-fill' | icon | safe}}gitlab.com/Abogical
</a>
<a target="_blank" href='https://linkedin.com/in/Abogical'>
	{{'Logos/linkedin-box-fill' | icon | safe}}linkedin.com/in/Abogical
</a>
{%if page.url == "/resume/" %}
<a id='html-resume-link' href='https://abogic.al/resume'>
    {{'Development/html5-fill' | icon | safe}}This resume is in <b>HTML</b>! See abogic.al/resume
</a>
{% endif %}
</address>
</header>