---
styles: ['global']
---
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %}{{ metadata.title }}</title>
    <meta name="Description" content="{{ description or metadata.description }}">
	<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
	{%if content | hasCode%}
    <link rel="stylesheet" href="{{ '/darkcode.css' | url }}" media="(prefers-color-scheme: dark)"/>
    <link rel="stylesheet" href="{{ '/lightcode.css' | url }}" media="(prefers-color-scheme: light)"/>
	{%endif%}
	{% for style in styles %}
		<link rel="stylesheet" href="/{{style + '.css' | url}}"/>
	{% endfor %}
	{%for script in scripts%}
		<script async src={{"/assets/"+script+".js" | url}} type='module'></script>
	{%endfor%}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
	<link rel="preload" href="/assets/chunks/_rollupPluginBabelHelpers.js" as="script">
  </head>
  <body>
    {{ content | safe }}
	<footer>
		<address>
			<a href='mailto:abogical@gmail.com'>
				{{'Gmail' | brand | safe}}abogical@gmail.com
			</a>
			<a target="_blank" href='https://github.com/Abogical'>
				{{'GitHub' | brand | safe}}GitHub
			</a>
			<a target="_blank" href='https://gitlab.com/Abogical'>
				{{'GitLab' | brand | safe}}GitLab
			</a>
			<a target="_blank" href='https://linkedin.com/in/Abogical'>
				{{'LinkedIn' | brand | safe}}LinkedIn
			</a>
			<a href="{{ metadata.feed.path | url }}">
				{{'RSS' | brand | safe}}Feed
			</a>
			<a target="_blank" href='https://www.upwork.com/freelancers/~01c08550e06312dd43'>
				{{'Upwork' | brand | safe}}Upwork
			</a>
		</address>
	</footer>
  </body>
</html>
