---
layout: layouts/base.njk
styles: ['post']
scripts: ['post']
---
{%from "macros.njk" import nav, cdback%}
<nav>
	{%call cdback('h1')%}<a href='/'>Abdelrahman Abdelrahman</a></h1>{%endcall%}
	{{ nav(page.url, collections) }}
</nav>

<main>
	{{ content | safe }}
</main>
