main {
	& > ul {
		list-style: none;
		padding: 0;
		& > li {
			margin: 2rem;
			padding: 1rem;
			& > a {
				display: inline-block;
				& > h2 {
					margin: 0;
				}
				font-weight: normal;
				font-family: 'Fira Code', monospace;
			}
		}
	}
}
