---
layout: layouts/withFooter.njk
styles:
 - index
scripts: ['index']
---
{%from "macros.njk" import nav, cdback%}

{%call cdback('div') %}
	<header>
		<section>
			<h1>Abdelrahman Abdelrahman</h1>
			<em>Full Stack Developer</em>
		</section>
		<nav>
			{{ nav('/', collections) }}
		</nav>
	</header>
{%endcall%}
