---
layout: layouts/withFooter.njk
styles:
 - index
scripts: ['index']
---
{% from "macros.njk" import cdback %}

{%call cdback('div') %}
	<header>
		<section>
			<h1>{{ metadata.author.htmlName | safe}}</h1>
			<em>{{ metadata.author.role }}</em>
		</section>
		<nav>
			{% include "nav.njk" %}
		</nav>
	</header>
{%endcall%}
