---
layout: layouts/base.njk
title: Resume
styles: ['resume']
---
<div id='print-button-container'>
	<a class='button' href='/resume.pdf'>{{"Business/printer-fill" | icon | safe}} PDF version</a>
</div>

<main>
{% include "letterhead.njk" %}

<h2>Summary</h2>
<ul class='text-body'>
<li>Worked with <b>NodeJS/Express/React/Typescript</b> projects as an independent freelancer.</li>
<li>Used <b>Python</b> for <b>Data Analysis</b> and <b>Django backend development</b>.
<li>Contributed to open source projects including <b>C++</b> <b>Qt</b> desktop applications.</li>
</ul>

<section id='content'>
<section>
<h2>Work Experience</h2>

<h3>Freelancing</h3>
<table>
	<tbody>
		<tr>
			<td>
				<time datetime="2021-8">8/2021</time>-<time datetime="2022-12">12/2022</time>
			<td>
				<h4><a href="https://learnk8s.io/">LearnK8s</a></h4>
				<em>Software developer</em>
				<p>Created a <b>NodeJS</b> PDF generator, Node-RED nodes, <b>web scraping</b> with <b>Selenium</b>, and tracing with OpenTelemetry using a <b>Typescript/React</b> codebase.</p>
			</td>
		</tr>
		<tr>
			<td><time datetime="2020-10">10/2020</time><wbr>-<wbr>9/2021</td>
			<td>
				<h4><a href="https://peopleperhour.com">PeoplePerHour</a></h4>
				<em>Software developer</em>
				<p>Awarded 5 stars by all clients in developing various software projects. <br/> Profile: <a href="https://pph.me/Abogical">pph.me/Abogical</a></p>
			</td>
		</tr>
		{# <tr>
			<td><time datetime="2016">2016</time><wbr>-<wbr><time datetime="2018">2018</time></td>
			<td>
				<h4><a href="https://upwork.com">Upwork</a></h4>
				<em>Desktop software developer</em>
				<p>Awarded 5 stars by all clients in designing and developing GUI programs and scripts.
Profile: <a href="https://www.upwork.com/o/profiles/users/~01c08550e06312dd43/">upwork.com/o/profiles/users/~01c08550e06312dd43/</a>
			</td>
		</tr>
		<tr>
			<td><time datetime="2016">2016</time><wbr>-<wbr><time datetime="2017">2017</time></td>
			<td>
				<h4><a href="https://bountysource.com">Bountysource</a></h4>
				<em>Software developer</em>
				<p>Awarded bounties for fixing bugs and improving the interface of <a href="https://www.borgbackup.org/">BorgBackup</a>.</p>
			</td>
		</tr> #}
	</tbody>
</table>

<h3>Open source</h3>
<table>
	<tbody>
		<tr>
			<td><time datetime="2020-01">1</time><wbr>-<wbr><time datetime="2020-02">2</time>/2020</td>
			<td>
				<h4><a href="http://season.kde.org/">Season of KDE</a></h4>
				<p>Modernized a 15+ year-old <b>C++</b> <b>Qt</b> code-base of JuK. Report: <a href="https://community.kde.org/SoK/2020/StatusReport/Abogical">community.kde.org/SoK/2020/StatusReport/Abogical</a>
</p>
			</td>
		</tr>
		<tr>
			<td><time datetime="2015-12">12/2015</time><wbr>-<wbr><time datetime="2016-01">1/2016</time></td>
			<td>
				<h4><a href="https://developers.google.com/open-source/gci/">Google Code-In</a></h4>
				<p>Packaged <b>Linux</b> programs to add more software for HaikuOS. Certificate: <a href="https://abogic.al/codein.pdf">abogic.al/codein.pdf</a>
</p>
			</td>
		</tr>
	</tbody>
</table>

<h3>Projects</h3>
<table>
	<tbody>
		<tr>
			<td><time datetime="2020-10">10/2020</time><wbr>-<wbr>Present</td>
			<td>
				<h4><a href="https://www.npmjs.com/package/posthtml-sri">posthtml-sri</a></h4>
				<p>PostHTML plugin converting sites to use subresource integrity. Submitted as an <b>NPM Package.</b></p>
			</td>
		</tr>
	</tbody>
</table>
<h3>Volunteering</h3>
<table>
	<tbody>
		<tr>
			<td><time datetime="2019-12">12/2019</time><wbr>-<wbr><time datetime="2020-10">10/2020</time></td>
			<td>
				<h4><a href="https://sscsalex.org">IEEE SSCS Alexandria Student Chapter</a></h4>
				<em>Full stack developer at Alexandria, Egypt</em>
				<p>Created a JAMStack website using <b>React Gatsby, TailwindCSS</b>, and KeystoneJS. Source code:
                    <a href="https://gitlab.com/sscsalex">gitlab.com/sscsalex</a>
                </p>
			</td>
		</tr>
	</tbody>
</table>
</section>

<section>
<h2>Education</h2>
<table>
	<tbody>
		<tr>
			<td><time datetime="2023">1/2023</time><wbr>-<wbr>Present</td>
			<td>
				<h4><a href="https://www.mun.ca/computerscience/graduate-students/master-of-science-msc/msc-computer-science-work-term/">
                    Master, Computer Science (Co-op)
                </a></h4>
				<em>Memorial University of Newfoundland, Canada</em>
			</td>
		</tr>
		<tr>
			<td><time datetime="2016">9/2016</time><wbr>-<wbr><time datetime="2021">7/2021</time></td>
			<td>
				<h4>Bachelor, Computer &amp; Communication Engineering</h4>
				<em>Alexandria University, Egypt</em>
			</td>
		</tr>
		<tr>
			<td><time datetime="2020-07">7</time><wbr>-<wbr><time datetime="2020-10">10</time>/2020</td>
			<td><h4>Advanced Data Analysis</h4><em>EgyptFWD</em>
			<p>Certificate: <a href="https://confirm.udacity.com/V6WMKHNJ">confirm.udacity.com/V6WMKHNJ</a></p>
			</td>
		</tr>
		<tr>
			<td><time datetime="2018-06">6</time><wbr>-<wbr><time datetime="2018-08">8</time>/2018</td>
			<td><h4>Machine Learning</h4><em>Coursera</em>
			<p>Certificate: <a href="https://coursera.org/account/accomplishments/certificate/H7GLFAV9CJPB">coursera.org/account/accomplishments/certificate/H7GLFAV9CJPB</a></p>
			</td>
		</tr>
	</tbody>
</table>

<h2>Skills</h2>
<section id='skills'>
<article>
<h3>Programming languages</h3>
<ul>
<li>JavaScript</li>
<li>TypeScript</li>
<li>Python</li>
<li>Julia</li>
<li>C/C++</li>
<li>Rust</li>
</ul>
</article>
<article>
<h3>Front-end web development</h3>
<ul>
<li>HTML5</li>
<li>CSS3</li>
<li>React</li>
<li>TailwindCSS</li>
<li>GraphQL</li>
</ul>
</article>
<article>
<h3>Back-end web development</h3>
<ul>
<li>Django</li>
<li>NodeJS</li>
<li>Express</li>
</ul>
</article>
<article>
<h3>Miscellaneous</h3>
<ul>
<li>Qt</li>
<li>GTK+</li>
<li>Linux</li>
<li>Git</li>
<li>SQL</li>
<li>Docker</li>
<li>JAMStack</li>
</ul>
</article>
</section>
<h2>Certificates</h2>
<table>
	<tbody>
		<tr>
			<td><time datetime="2019-11-27">27/11/2020</time></td>
			<td>
				<h4>IELTS</h4>
				<em>British Council</em>
				<p>English proficiency certification. Band score: 7.5/9 (Good to Very good user)</p>
			</td>
		</tr>
	</tbody>
</table>
</section>
</section>
</main>